<div class="jumbotron text-center">
  <div class="diplay-3">
    <p class="lead">
      Jot down ideas for your next youtube videos
    </p>
    <a href="/ideas/add" class="btn btn-dark btn-lag">Add Video idea</a>
  </div>
</div>